// $light-bg: #f8f4ea;
$light-bg: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
$light-text: #333333;
$light-card-bg: #ece8dd;
$light-btn: #579bb1;

// $dark-bg: #2d2c2c;
$dark-bg: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
$dark-text: #f3f3f3;
$dark-card-bg: #232d3f;
$dark-btn: #008170;
